#userName=
#password=
#doDelete=false

# duration in minutes
duration=1440
sessionIdentifier=a
perDaySubdirectories=true
perSessionIdSubdirectories=false
printHash=true
outputDir=out

# timeout in seconds
connectTimeout=10

receiver=SPBG
SPBG.address=192.18.16.72

receiver=SPCR
SPCR.address=192.18.16.71

receiver=SPCG
SPCG.address=192.18.16.73

receiver=SPCP
SPCP.address=192.18.16.74