#userName=
#password=
#doDelete=false

# duration in minutes
duration=1440
sessionIdentifier=a
perDaySubdirectories=false
perSessionIdSubdirectories=true

# print a hash mark for every kB of data received.
# hashes are printed with periodic updates. They do not reflect the actual time of data reception
printHash=true

outputDir=out
maxBackfill=2

# timeout in seconds
connectTimeout=10

#bytesPerSecond=1024

receiver=AVO_4690
AVO_4690.address=130.118.183.137
AVO_4690.perDaySubdirectories=true
AVO_4690.perSessionIdSubdirectories=false
AVO_4690.bytesPerSecond=614

#receiver=SPBG
SPBG.address=192.18.16.72

#receiver=SPCG
SPCG.address=192.18.16.73

#receiver=SPCR
SPCR.address=192.18.16.71

#receiver=SPCP
SPCP.address=192.18.16.74