# If no username and password are specified, I will use 'anonymous' 
# as a userid and construct a email address from system settings for 
# a password. 
#
# If only a password is specified, I will use 'netrsFTP' as a userid.
#
#userName=
#password=

# use passive FTP?
passiveFTP=true

# If will print debugging details for the packages specified.
debug=gov.usgs.netRSFileMover

# These settings will be used as a default. They can be overridden for 
# each receiver if needed.
duration=1440
sessionIdentifier=a
perDaySubdirectories=false
perSessionIdSubdirectories=true
dataFormat=T00
resumeTransfer=true

# print a hash mark for every kB of data received. Hashes are printed 
# with periodic updates. They may not print at the same time the data is written.
printHash=true

# If true pull all files from a single receiver before moving on to the next.
# If false poll the most recent file from each receiver before moving on to older files
depthFirst=false

# Where to write files
outputDir=out

# retrieve files up to this many days before the most recent complete file
maxDays=2

# timeout in seconds
connectTimeout=30

# write files at this rate. If specified I will assume the link to the 
# receiver is slow and unreliable and attempt to shrink the TCP 
# advertised window 
bytesPerSecond=614
windowSize=1500

# One receiver directive per netRS. The receivers will be polled in the 
# order specified. All of the settings above can be overridden for a 
# specific receiver here.
receiver=AKAA
AKAA.address=192.168.164.119

receiver=AKBB
AKBB.address=www.exmaple.com
AKBB.userName=tomptest
AKBB.password=t0mptest

receiver=SCCP
SCCP.address=192.118.16.72
SCCP.perDaySubdirectories=true
SCCP.perSessionIdSubdirectories=false
SCCP.bytesPerSecond=2048
